.histo {
    justify-content: space-between;
    display: flex;
}
.chatHisto {
    margin: 35px;
    border-color:black;
    border: solid 1px;
    padding: 10px;
    height: 100%;
}
.histoChat {
    width: 30%;
}
.chatHistorique {
    margin: 35px;
    padding: 10px;
    border-color:black;
    border: solid 1px;
}